<div class="hidden items-start py-2 px-4 md:flex gap-3 rounded-t-lg font-semibold bg-gray-300">
  <div class="flex-1">Name</div>
  <div class="flex-grow-0 flex-shrink-0 md:basis-52">Assign to</div>
  <div class="flex-grow-0 flex-shrink-0 md:basis-36">End date</div>
  <div class="flex-grow-0 flex-shrink-0 md:basis-36">Status</div>
  <div class="flex gap-3 basis-24"></div>
</div>
