<div class="hidden items-start py-2 px-4 md:flex gap-3 rounded-t-lg font-semibold bg-gray-300">
  <div class="flex-grow-0 flex-shrink-0 md:basis-36">Id</div>
  <div class="flex-1">Email</div>
  <div class="flex-grow-0 flex-shrink-0 md:basis-36">Rol</div>
  <div class="flex gap-3 basis-24"></div>
</div>
