<%= link_to url,
            data: { turbo_stream: true },
            class: "btn btn--light btn--icon",
            "aria-label" => label do %>
  <span class="hidden"><%= label %></span>
  <%= render "shared/svg/edit_icon" %>
<% end %>
