<%= turbo_frame_tag project do %>
  <div class="wrapper justify-between items-center gap-3">
    <%= link_to project.name, 
                project_path(project),
                class: "w-full text-blue-500",
                data: { turbo_frame: "_top" } %>

    <%= render "shared/delete_button", url: project_path(project), label: "Delete project" %>
    <%= render "shared/edit_button", url: edit_project_path(project), label: "Edit project" %>
  </div>
<% end %>
