<main class="container px-6 mt-8 text-center italic space-y-4">
  <section>
    <p>
      This is a project management app I developed to practice my Rails skills and learn Turbo Rails. 
      The idea came from wanting a simple project manager tailored to my workflow, which gave me a great opportunity to work on a project I needed while expanding my Rails knowledge.
    </p>
  </section>
  <section>
    <h2 class="text-2xl font-semibold mb-4 text-blue-500">Technologies and Tools</h2>
    <ul>
      <li>Rails 7 as the foundation of the project.</li>
      <li>Hotwire (using Turbo Rails) for real-time updates via Turbo Stream.</li>
      <li>Tailwind CSS for styling, also integrated with Simple Form.</li>
      <li>Devise for easy authentication management.</li>
      <li>CanCanCan for flexible, basic authorization.</li>
      <li>PostgreSQL as the database.</li>
    </ul>
  </section>
  <section>
    <h2 class="text-2xl font-semibold mb-4 text-blue-500">Functionalities and Key Learnings</h2>
    <ul>
      <li>Real-time updates using Turbo Stream broadcasts, enhancing my knowledge of Hotwire.</li>
      <li>Integration of Tailwind CSS in a Rails project, including customization in Simple Form.</li>
      <li>Basic implementation of CanCanCan to manage user permissions.</li>
      <li>Responsive design, optimized to fit any screen size.</li>
      <li>System tests: developed tests for each functionality using Rails' default testing framework (Minitest).</li>
    </ul>
  </section>
  <section>
    <p>
      This project has not only helped me deepen my understanding of Rails tools and architecture but also reinforced my skills in clean code design and structured web development. The project is still in development, so any suggestions are welcome. If you have any, feel free to email me at 
      <a href="mailto:rodianmatey@gmail.com" class="text-blue-500 hover:text-blue-700">rodianmatey@gmail.com</a>.
    </p>
  </section>
</main>
