<div class="w-full flex flex-col justify-center sm:px-6 lg:px-8 px-6">
  <%= render "devise/shared/app_overview" %>
  <%= render "devise/shared/header", title: "Sign in to your account", 
                                     link_text: "create a new account",
                                     link_path: new_user_registration_path %>

  <%= render "devise/shared/form", form_action: "sign_in" %>
</div>
